html ,body{
	height: 100%;
	width: 100%;
	background-color: #efdff0;
}

.navbar{
	background-color:#1c354a;
	padding: 1% 0%;
	font-size: 1.2em;
	font-style: bold;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;

}

.navbar-default .navbar-nav li a{
	color : #D5D5D5;
}

.navbar-default .navbar-nav li a:hover{
	color : #FFFFFF;
}

.navbar-default .navbar-nav li a.active{
	color : yellow;
}

/*  @import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');
*/
.jumbotron{
background-image: linear-gradient(to bottom, #829ed3, #abb0db, #ccc4e4, #e5daed, #f9f3f9);;
}


.jumbotron h1{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 65px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-shadow: rgba(87, 87, 87, 0.82) 1px 2px 2px;
} 

.jumbotron p{
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    color: #474747;
    text-shadow: rgba(87, 87, 87, 0.82) 1px 2px 2px;
	  font-style: italic;

} 



#msg1{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 22px;
letter-spacing: 0.2px;
word-spacing: 0.6px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.bcolor{
	
background-image: linear-gradient(to right bottom, #918c92, #aaa5ab, #c4bec4, #ded8de, #f9f3f9);}

.info{
    background-color: rgb(56, 76, 112);
}


footer{
	width: 100%;
	background-color: #1c354a;
	padding: 1% 1% 1% 1%;
	color:white;
}

.styling{
	background-color: #d3c3de;
}

.fa{
	padding: 15px;
	font-size: 25px;
	color: white;
}


.fa:hover{
	color: #D5D5D5;
	text-decoration: none;
}

.icon{
	max-width: 200px;
}


.modal-login {    
    color: #636363;
    width: 350px;
  }
  .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-login .modal-header {
    border-bottom: none;   
        position: relative;
        justify-content: center;
  }
  .modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-login .form-control:focus {
    border-color: #70c5c0;
  }
  .modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-login .close {
        position: absolute;
    top: -5px;
    right: -5px;
  } 
  .modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
        justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
  }
  .modal-login .modal-footer a {
    color: #999;
  }   
  .modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #60c7c1;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .modal-login .avatar img {
    width: 100%;
  }
  .modal-login.modal-dialog {
    margin-top: 80px;
  }
    .modal-login .btn {
        color: #fff;
        border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
        border: none;
    }
  .modal-login .btn:hover, .modal-login .btn:focus {
    background: #45aba6;
    outline: none;
  }

  
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }


.yellowStyle{
    font-family:'verdana';
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    color: rgb(5, 20, 0);
    background-color: rgb(222, 212, 202);
}



.minihead{
    font-family:'verdana';
    text-align: center;
    font-size: 37px;
    letter-spacing: 1px;
    color: rgb(14, 20, 0);
    background-color: rgb(178, 176, 252);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}


