#ER{

font-family: "Times New Roman", Times, serif;
font-size: 15px;
letter-spacing: 0.2px;
word-spacing: 5.2px;
color: #FF0000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;

}